<!DOCTYPE html>
<html>
<head>
	<title>Safewhey</title>
		
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="design.css">
	<style>
	html, body {
		background:url("https://media.giphy.com/media/48LW3d4YIYDLVpX3Ri/giphy.gif") no-repeat center;
		background-size:cover;

	}

	h1, .rand {
		font-family: papyrus, sans-serif;
	}

	</style>
</head>

	<body>
		<center> <h1 style ='padding: 0 7em 1em;'>Safewhey</h1>
		<form>
			<dev class="rand">		
			<p style ='padding: 0 7em 1em;'>
				<label>
				Starting Point</label>
				<input type= "text" />
			</p>

			<p>
				<label>Destination</label>
				<input type= "text" />
			</p>

			<nav>
				<a href = "search.html" class = "button">Search</a> 
			</nav>
			</dev>
				<!-- <button type="button"
				onclick=some function to show map 
				Search</button> </center> -->
	</body>
</html>